@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-expand-sm mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="https://localhost:44346/Manage/Index">Salut @User.Identity.Name </a>
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Delogare</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-expand-sm mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="https://localhost:44346/Account/Register">Registrare</a>
    </li>
   
    <li class="nav-item">
        <a class="nav-link" href="https://localhost:44346/Account/Login">Logare</a>
    </li>
    
</ul>
}
